<header>
  <%= link_to 'Skip to content', '#main', class: 'skip' %>
  <nav>
    <ul>
      <li>
        <%= link_to 'Quentin Bellanger', '/' %>
      </li>
      <li>
        <%= link_to 'Writing', '/blog.html' %>
      </li>
      <li>
        <%= link_to 'Twitter', 'https://twitter.com/bellanger_q', rel: "noopener" %>
      </li>
      <li>
        <%= link_to 'Contact', 'mailto:hello@quentin-bellanger.com' %>
      </li>
      <li>
        <%= link_to 'Feed', '/feed.xml' %>
      </li>
    </ul>
  </nav>
</header>