<title><%= current_page.data.title || data.site.title %></title>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color" content="#1d274a">
<link href="/images/favicon.ico" rel="icon">
<meta name="description" content="<%= data.site.description %>">
<meta name="description" content="<%= data.site.description %>">
<meta name="og:title" content="<%= data.site.title %>">
<meta name="og:image" content="/images/og.png">
<meta name="og:type" content="website">
<meta name="og:url" content="<%= data.site.base_url %>">
<meta name="twitter:title" content="<%= data.site.title %>">
<meta name="twitter:image" content="/images/og.png">
<meta name="twitter:card" content="summary">

